<%- include('layout/header.ejs', { subject: "Offer" }) %>

<tr>
    <td valign="top" style="color:#92778a;text-align:center;font-size:16px;font-family:'Manrope', sans-serif;font-weight:500;background-color:#fff;padding:0 20px;">
        <p>Hello <%= name %>,</p>
        <span>
            <%= process.env.AGENT_ENTITY_LABEL %> has <%= status %> the snaglist.
            <br> <br> 
            <a href="<%= process.env.HOME_PANEL_URL %>/customer/property-details/<%= propertyId %>"><b style="color:#3e2837;font-weight:700;"> <%= propertyTitle %> (click to see details)</b> </a>
        </span>
    </td>
</tr>
<tr>
    <td valign="top" style="text-align:center;background-color:#fff;padding:50px 0 20px 0;">
        <span style="box-shadow:0 0 21px #999;border:1px solid #00CB04;display:inline-block;width:180px;height:180px;border-radius:0%;overflow:hidden;">
            <img style="max-width:100%;" src="<%= propertyImage %>" alt="Property photo">
        </span>
    </td>
</tr>

<%- include('layout/footer.ejs') %>